__Clean, Transform, Merge and Reshape__

Pandas provides a high-level, flexible, and high-performance set of core manipulations and algorithms to enable you to wrangle data into the right form.

# Combining and Merging Data Sets

`pandas.merge` connects rows in DataFrame based on one or more keys.

`pandas.concat` stacks together objects along an axis.

`combine_first` instance method enables splicing together overlapping data to fill in missing values in one object with values from another.

In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('seaborn')
%matplotlib inline

## Database-style DataFrame Merges

In [30]:
left = pd.DataFrame({'data1' : np.random.randint(100, 200, 8), 'key' : list('bacbaacb')})
right = pd.DataFrame({'data2' : np.random.randint(10, 99, 7), 'key' : list('acaacdd')})
right

   data2 key
0     93   a
1     31   c
2     49   a
3     53   a
4     46   c
5     86   d
6     43   d

In [31]:
left.merge(right)

    data1 key  data2
0     147   a     93
1     147   a     49
2     147   a     53
3     135   a     93
4     135   a     49
5     135   a     53
6     189   a     93
7     189   a     49
8     189   a     53
9     120   c     31
10    120   c     46
11    140   c     31
12    140   c     46

In [32]:
pd.merge(left, right, on = 'key')

    data1 key  data2
0     147   a     93
1     147   a     49
2     147   a     53
3     135   a     93
4     135   a     49
5     135   a     53
6     189   a     93
7     189   a     49
8     189   a     53
9     120   c     31
10    120   c     46
11    140   c     31
12    140   c     46

By default, `merge` does an 'inner' join (intersection). Other possibilities are `left`, `right`, and `outer`

In [33]:
left.merge(right, how = 'left')
# or pd.merge(left,right, how = 'left')

    data1 key  data2
0     158   b    NaN
1     147   a   93.0
2     147   a   49.0
3     147   a   53.0
4     120   c   31.0
5     120   c   46.0
6     158   b    NaN
7     135   a   93.0
8     135   a   49.0
9     135   a   53.0
10    189   a   93.0
11    189   a   49.0
12    189   a   53.0
13    140   c   31.0
14    140   c   46.0
15    180   b    NaN

In [34]:
left.merge(right, how = 'outer')

    data1 key  data2
0   158.0   b    NaN
1   158.0   b    NaN
2   180.0   b    NaN
3   147.0   a   93.0
4   147.0   a   49.0
5   147.0   a   53.0
6   135.0   a   93.0
7   135.0   a   49.0
8   135.0   a   53.0
9   189.0   a   93.0
10  189.0   a   49.0
11  189.0   a   53.0
12  120.0   c   31.0
13  120.0   c   46.0
14  140.0   c   31.0
15  140.0   c   46.0
16    NaN   d   86.0
17    NaN   d   43.0

It returns the carteasian product of the elements with common keys, if there are duplicates, then it will return all the posible combinations.

If columns don't have the same name, or we want to join the index of the DataFrames, we will need to specify that.

In [35]:
right.columns = ['a', 'b']
left.merge(right, left_on = ['key'], right_on = ['b'])

    data1 key   a  b
0     147   a  93  a
1     147   a  49  a
2     147   a  53  a
3     135   a  93  a
4     135   a  49  a
5     135   a  53  a
6     189   a  93  a
7     189   a  49  a
8     189   a  53  a
9     120   c  31  c
10    120   c  46  c
11    140   c  31  c
12    140   c  46  c

If there are two columns with the same name that we do not join on, both will get transferred to the resulting DataFrame with a suffix. We can customize these suffixes.

In [36]:
right.columns = ['data1', 'key']
left.merge(right, left_on=['key'], right_on=['key'])

    data1_x key  data1_y
0       147   a       93
1       147   a       49
2       147   a       53
3       135   a       93
4       135   a       49
5       135   a       53
6       189   a       93
7       189   a       49
8       189   a       53
9       120   c       31
10      120   c       46
11      140   c       31
12      140   c       46

In [37]:
left.merge(right, left_on=['key'], right_on=['key'], suffixes=['_chachi', '_piruli'])

    data1_chachi key  data1_piruli
0            147   a            93
1            147   a            49
2            147   a            53
3            135   a            93
4            135   a            49
5            135   a            53
6            189   a            93
7            189   a            49
8            189   a            53
9            120   c            31
10           120   c            46
11           140   c            31
12           140   c            46

## Merging on Index

``left_index = True`` or ``right_index = True`` (or both) to indicate that the index should be used as the merge key.

In [38]:
right.index = list('abdoier')
right

   data1 key
a     93   a
b     31   c
d     49   a
o     53   a
i     46   c
e     86   d
r     43   d

In [39]:
left.merge(right, left_on = 'key', right_index = True, how = 'outer')

    key  data1_x key_x  data1_y key_y
0.0   b    158.0     b     31.0     c
3.0   b    158.0     b     31.0     c
7.0   b    180.0     b     31.0     c
1.0   a    147.0     a     93.0     a
4.0   a    135.0     a     93.0     a
5.0   a    189.0     a     93.0     a
2.0   c    120.0     c      NaN   NaN
6.0   c    140.0     c      NaN   NaN
NaN   d      NaN   NaN     49.0     a
NaN   o      NaN   NaN     53.0     a
NaN   i      NaN   NaN     46.0     c
NaN   e      NaN   NaN     86.0     d
NaN   r      NaN   NaN     43.0     d

## Concatenating along an axis

Use ``concatenate`` function

In [40]:
pd.concat([left, right])

   data1 key
0    158   b
1    147   a
2    120   c
3    158   b
4    135   a
5    189   a
6    140   c
7    180   b
a     93   a
b     31   c
d     49   a
o     53   a
i     46   c
e     86   d
r     43   d

By default `concat` works along axis=0 producing another Series. With axis=1, the result is a DataFrame.

In [41]:
pd.concat([left, right], axis = 1)

   data1  key  data1  key
0  158.0    b    NaN  NaN
1  147.0    a    NaN  NaN
2  120.0    c    NaN  NaN
3  158.0    b    NaN  NaN
4  135.0    a    NaN  NaN
5  189.0    a    NaN  NaN
6  140.0    c    NaN  NaN
7  180.0    b    NaN  NaN
a    NaN  NaN   93.0    a
b    NaN  NaN   31.0    c
d    NaN  NaN   49.0    a
e    NaN  NaN   86.0    d
i    NaN  NaN   46.0    c
o    NaN  NaN   53.0    a
r    NaN  NaN   43.0    d

DataFrames in which the row index does not contain any relevant data can be ignored with ``ignore_index = True``

In [42]:
df1 = pd.DataFrame(np.random.randn(3, 4), columns = ['a', 'b', 'c', 'd'])
df2 = pd.DataFrame(np.random.randn(2, 3), columns = ['b', 'd', 'a'])

pd.concat([df1, df2], ignore_index = True)

          a         b         c         d
0  0.120008 -0.334133 -1.603482  0.423033
1 -1.665532 -0.180863 -1.501919 -0.439324
2  0.352375  1.614360  0.803241 -1.227213
3  1.174486 -0.566006       NaN  0.540353
4 -0.541470 -0.488286       NaN -1.191316

# Reshaping and Pivoting

Number of basic operations for rearranging tabular data.

## Reshaping with Hierarchical Indexing

``stack`` rotates or pivots from the columns in the data to the rows.

``unstack`` pivots from the rows into the columns.

In [27]:
data = pd.DataFrame(np.arange(6).reshape((2, 3)),
                   index = pd.Index(['Ohio', 'Colorado'], name = 'state'),
                   columns = pd.Index(['one', 'two', 'three'],
                                     name = 'number'))
data

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5

In [28]:
result = data.stack()
result

state     number
Ohio      one       0
          two       1
          three     2
Colorado  one       3
          two       4
          three     5
dtype: int32

In [29]:
result.unstack()

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5

In [37]:
result.unstack(0)

state   Ohio  Colorado
number
one        0         3
two        1         4
three      2         5

In [38]:
result.unstack('state')

state   Ohio  Colorado
number
one        0         3
two        1         4
three      2         5

In [40]:
df = pd.DataFrame({'left': result, 'right': result + 5},
                 columns = pd.Index(['left', 'right'], name = 'side'))

df

side             left  right
state    number
Ohio     one        0      5
         two        1      6
         three      2      7
Colorado one        3      8
         two        4      9
         three      5     10

In [46]:
df.unstack(0).stack(0)

state         Colorado  Ohio
number side
one    left          3     0
       right         8     5
two    left          4     1
       right         9     6
three  left          5     2
       right        10     7

### Example

Data from https://www.transtats.bts.gov/

In [1]:
!unzip /home/dsc/Downloads/On_Time_Reporting_Carrier_On_Time_Performance_1987_present_2020_3.zip

Archive:  /home/dsc/Downloads/On_Time_Reporting_Carrier_On_Time_Performance_1987_present_2020_3.zip
  inflating: On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2020_3.csv
  inflating: readme.html

In [4]:
!head readme.html

<HTML>
<HEAD>
	<TITLE> readme.html </TITLE>
</HEAD>
<BODY>
	<TABLE><TR><TD COLSPAN=2><H4>BACKGROUND</H4></TD></TR>
	<TR><TD COLSPAN=2>The data contained in the compressed file has been extracted from the
	Reporting Carrier On-Time Performance (1987-present) data table of the "On-Time" database from the TranStats data library.
	The time period is indicated in the name of the compressed file;
	for example, XXX_XXXXX_2001_1 contains data of the first month of the year 2001. </TD></TR>

We can display the contents of the __readme.html__ within the notebook with Ipython.display.IFrame

In [57]:
from IPython.display import IFrame
import pandas as pd

IFrame('http://elpais.com', 800, 300)

In [58]:
IFrame('readme.html', 800, 300)

We can open the files without decompressing them. Use [zipfile](https://docs.python.org/3/library/zipfile.html)

In [5]:
from zipfile import ZipFile

zfile = ZipFile('/home/dsc/Downloads/On_Time_Reporting_Carrier_On_Time_Performance_1987_present_2020_3.zip')
zfile.filelist

[<ZipInfo filename='On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2020_3.csv' compress_type=deflate filemode='-rw-r--r--' file_size=284488780 compress_size=30367345>,
 <ZipInfo filename='readme.html' compress_type=deflate filemode='-rw-r--r--' file_size=12152 compress_size=2244>]

zip_file connect the compressed file. We can use it to open a connection to one of the files it contains.

In [6]:
csvfile = zfile.open(zfile.filelist[0])
csvfile.readline()

b'"Year","Quarter","Month","DayofMonth","DayOfWeek","FlightDate","Reporting_Airline","DOT_ID_Reporting_Airline","IATA_CODE_Reporting_Airline","Tail_Number","Flight_Number_Reporting_Airline","OriginAirportID","OriginAirportSeqID","OriginCityMarketID","Origin","OriginCityName","OriginState","OriginStateFips","OriginStateName","OriginWac","DestAirportID","DestAirportSeqID","DestCityMarketID","Dest","DestCityName","DestState","DestStateFips","DestStateName","DestWac","CRSDepTime","DepTime","DepDelay","DepDelayMinutes","DepDel15","DepartureDelayGroups","DepTimeBlk","TaxiOut","WheelsOff","WheelsOn","TaxiIn","CRSArrTime","ArrTime","ArrDelay","ArrDelayMinutes","ArrDel15","ArrivalDelayGroups","ArrTimeBlk","Cancelled","CancellationCode","Diverted","CRSElapsedTime","ActualElapsedTime","AirTime","Flights","Distance","DistanceGroup","CarrierDelay","WeatherDelay","NASDelay","SecurityDelay","LateAircraftDelay","FirstDepTime","TotalAddGTime","LongestAddGTime","DivAirportLandings","DivReachedDest","DivActualElapsedTime","DivArrDelay","DivDistance","Div1Airport","Div1AirportID","Div1AirportSeqID","Div1WheelsOn","Div1TotalGTime","Div1LongestGTime","Div1WheelsOff","Div1TailNum","Div2Airport","Div2AirportID","Div2AirportSeqID","Div2WheelsOn","Div2TotalGTime","Div2LongestGTime","Div2WheelsOff","Div2TailNum","Div3Airport","Div3AirportID","Div3AirportSeqID","Div3WheelsOn","Div3TotalGTime","Div3LongestGTime","Div3WheelsOff","Div3TailNum","Div4Airport","Div4AirportID","Div4AirportSeqID","Div4WheelsOn","Div4TotalGTime","Div4LongestGTime","Div4WheelsOff","Div4TailNum","Div5Airport","Div5AirportID","Div5AirportSeqID","Div5WheelsOn","Div5TotalGTime","Div5LongestGTime","Div5WheelsOff","Div5TailNum",\n'

Now we can load the file into memory as a pandas dataframe. Remember to close the connection to the files.

In [7]:
flights = pd.read_csv(csvfile)

/home/dsc/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (48,69,76,77,84) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
pd.options.display.max_columns = None

flights.shape

(648228, 110)

In [9]:
flights.sample(4)

,2020,1,3,9,1.1,2020-03-09,9E,20363,9E.1,N669CA,4677,11433,1143302,31295,DTW,"Detroit, MI",MI,26,Michigan,43,14307,1430705,30721,PVD,"Providence, RI",RI,44,Rhode Island,15,1423,1412,-11.00,0.00,0.00.1,-1,1400-1459,16.00,1428,1552,5.00,1615,1557,-18.00,0.00.2,0.00.3,-2,1600-1659,0.00.4,Unnamed: 48,0.00.5,112.00,105.00,84.00,1.00,615.00,3.1,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,0,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77,Unnamed: 78,Unnamed: 79,Unnamed: 80,Unnamed: 81,Unnamed: 82,Unnamed: 83,Unnamed: 84,Unnamed: 85,Unnamed: 86,Unnamed: 87,Unnamed: 88,Unnamed: 89,Unnamed: 90,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96,Unnamed: 97,Unnamed: 98,Unnamed: 99,Unnamed: 100,Unnamed: 101,Unnamed: 102,Unnamed: 103,Unnamed: 104,Unnamed: 105,Unnamed: 106,Unnamed: 107,Unnamed: 108,Unnamed: 109
382664,2020,1,3,29,7,2020-03-29,WN,19393,WN,N711HK,3441,10821,1082106,30852,BWI,"Baltimore, MD",MD,24,Maryland,35,12191,1219102,31453,HOU,"Houston, TX",TX,48,Texas,74,2115,2112.0,-3.0,0.0,0.0,-1.0,2100-2159,8.0,2120.0,2354.0,4.0,2340,2358.0,18.0,18.0,1.0,1.0,2300-2359,0.0,NaN,0.0,205.0,226.0,214.0,1.0,1246.0,5,0.0,0.0,18.0,0.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145406,2020,1,3,15,7,2020-03-15,B6,20409,B6,N193JB,159,10721,1072102,30721,BOS,"Boston, MA",MA,25,Massachusetts,13,14100,1410005,34100,PHL,"Philadelphia, PA",PA,42,Pennsylvania,23,700,647.0,-13.0,0.0,0.0,-1.0,0700-0759,22.0,709.0,806.0,7.0,840,813.0,-27.0,0.0,0.0,-2.0,0800-0859,0.0,NaN,0.0,100.0,86.0,57.0,1.0,280.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496395,2020,1,3,21,6,2020-03-21,OH,20397,OH,N534AE,5053,11267,1126702,31267,DAY,"Dayton, OH",OH,39,Ohio,44,11278,1127805,30852,DCA,"Washington, DC",VA,51,Virginia,38,1742,1833.0,51.0,51.0,1.0,3.0,1700-1759,16.0,1849.0,1953.0,4.0,1900,1957.0,57.0,57.0,1.0,3.0,1900-1959,0.0,NaN,0.0,78.0,84.0,64.0,1.0,391.0,2,51.0,0.0,6.0,0.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499680,2020,1,3,9,1,2020-03-09,OH,20397,OH,N712PS,5142,11057,1105703,31057,CLT,"Charlotte, NC",NC,37,North Carolina,36,10781,1078105,30781,BTR,"Baton Rouge, LA",LA,22,Louisiana,72,2209,2254.0,45.0,45.0,1.0,3.0,2200-2259,16.0,2310.0,2353.0,3.0,2320,2356.0,36.0,36.0,1.0,2.0,2300-2359,0.0,NaN,0.0,131.0,122.0,103.0,1.0,675.0,3,0.0,0.0,0.0,36.0,0.0,2211.0,15.0,15.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
import time
import tqdm

x = 0

for i in tqdm.tqdm(range(100)):
    time.sleep(.01)
    x += i
    
i

100%|██████████| 100/100 [00:01<00:00, 80.97it/s]

99

In [65]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 648228 entries, 0 to 648227
Columns: 110 entries, 2020 to Unnamed: 109
dtypes: float64(71), int64(20), object(19)
memory usage: 544.0+ MB

Let's load March and April 2020 into a single DataFrame

In [10]:
dfs = []

for name in ['/home/dsc/Downloads/On_Time_Reporting_Carrier_On_Time_Performance_1987_present_2020_3.zip',
             '/home/dsc/Downloads/On_Time_Reporting_Carrier_On_Time_Performance_1987_present_2020_4.zip']:
    zfile = ZipFile(name)
    csv = zfile.open(zfile.filelist[0])
    dfs.append(pd.read_csv(csv))
    csv.close()
    zfile.close()

/home/dsc/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (48,69,76,77,84) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/dsc/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (69,76,77,84) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
flights = pd.concat(dfs)

In [12]:
flights.shape

(961611, 110)

In [13]:
flights.iloc[:0]

Empty DataFrame
Columns: [Year, Quarter, Month, DayofMonth, DayOfWeek, FlightDate, Reporting_Airline, DOT_ID_Reporting_Airline, IATA_CODE_Reporting_Airline, Tail_Number, Flight_Number_Reporting_Airline, OriginAirportID, OriginAirportSeqID, OriginCityMarketID, Origin, OriginCityName, OriginState, OriginStateFips, OriginStateName, OriginWac, DestAirportID, DestAirportSeqID, DestCityMarketID, Dest, DestCityName, DestState, DestStateFips, DestStateName, DestWac, CRSDepTime, DepTime, DepDelay, DepDelayMinutes, DepDel15, DepartureDelayGroups, DepTimeBlk, TaxiOut, WheelsOff, WheelsOn, TaxiIn, CRSArrTime, ArrTime, ArrDelay, ArrDelayMinutes, ArrDel15, ArrivalDelayGroups, ArrTimeBlk, Cancelled, CancellationCode, Diverted, CRSElapsedTime, ActualElapsedTime, AirTime, Flights, Distance, DistanceGroup, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay, FirstDepTime, TotalAddGTime, LongestAddGTime, DivAirportLandings, DivReachedDest, DivActualElapsedTime, DivArrDelay, DivDistance, Div1Airport, Div1AirportID, Div1AirportSeqID, Div1WheelsOn, Div1TotalGTime, Div1LongestGTime, Div1WheelsOff, Div1TailNum, Div2Airport, Div2AirportID, Div2AirportSeqID, Div2WheelsOn, Div2TotalGTime, Div2LongestGTime, Div2WheelsOff, Div2TailNum, Div3Airport, Div3AirportID, Div3AirportSeqID, Div3WheelsOn, Div3TotalGTime, Div3LongestGTime, Div3WheelsOff, Div3TailNum, Div4Airport, Div4AirportID, Div4AirportSeqID, Div4WheelsOn, Div4TotalGTime, Div4LongestGTime, Div4WheelsOff, ...]
Index: []

Be careful when reassigning variables to reserved words or functions.
Do not flight.mean = something.

In [14]:
flights.mean

<bound method DataFrame.mean of         Year  Quarter  Month  DayofMonth  DayOfWeek  FlightDate  \
0       2020        1      3           9          1  2020-03-09
1       2020        1      3           9          1  2020-03-09
2       2020        1      3           7          6  2020-03-07
3       2020        1      3           7          6  2020-03-07
4       2020        1      3           7          6  2020-03-07
...      ...      ...    ...         ...        ...         ...
313377  2020        2      4           1          3  2020-04-01
313378  2020        2      4           1          3  2020-04-01
313379  2020        2      4           1          3  2020-04-01
313380  2020        2      4           1          3  2020-04-01
313381  2020        2      4           1          3  2020-04-01

       Reporting_Airline  DOT_ID_Reporting_Airline  \
0                     9E                     20363
1                     9E                     20363
2                     9E                     20363
3                     9E                     20363
4                     9E                     20363
...                  ...                       ...
313377                YX                     20452
313378                YX                     20452
313379                YX                     20452
313380                YX                     20452
313381                YX                     20452

       IATA_CODE_Reporting_Airline Tail_Number  \
0                               9E      N669CA
1                               9E      N669CA
2                               9E      N980EV
3                               9E      N980EV
4                               9E      N836AY
...                            ...         ...
313377                          YX      N648RW
313378                          YX      N645RW
313379                          YX      N725YX
313380                          YX      N730YX
313381                          YX      N861RW

        Flight_Number_Reporting_Airline  OriginAirportID  OriginAirportSeqID  \
0                                  4677            11433             1143302
1                                  4677            14307             1430705
2                                  4678            11433             1143302
3                                  4678            15380             1538005
4                                  4680            10469             1046902
...                                 ...              ...                 ...
313377                             3404            11057             1105703
313378                             3403            11042             1104205
313379                             3402            10792             1079206
313380                             3401            12206             1220605
313381                             3400            11278             1127805

        OriginCityMarketID Origin            OriginCityName OriginState  \
0                    31295    DTW               Detroit, MI          MI
1                    30721    PVD            Providence, RI          RI
2                    31295    DTW               Detroit, MI          MI
3                    35380    TVC         Traverse City, MI          MI
4                    30469    AZO             Kalamazoo, MI          MI
...                    ...    ...                       ...         ...
313377               31057    CLT             Charlotte, NC          NC
313378               30647    CLE             Cleveland, OH          OH
313379               30792    BUF               Buffalo, NY          NY
313380               32206    HRL  Harlingen/San Benito, TX          TX
313381               30852    DCA            Washington, DC          VA

        OriginStateFips OriginStateName  OriginWac  DestAirportID  \
0                    26        Michigan         43          14307
1                    44    Rhode Island         15          11433
2                    26        Michigan         43          15380
3                    26        Michigan         43          11433
4                    26        Michigan         43          11433
...                 ...             ...        ...            ...
313377               37  North Carolina         36          11292
313378               39            Ohio         44          11618
313379               36        New York         22          11618
313380               48           Texas         74          12266
313381               51        Virginia         38          13930

        DestAirportSeqID  DestCityMarketID Dest       DestCityName DestState  \
0                1430705             30721  PVD     Providence, RI        RI
1                1143302             31295  DTW        Detroit, MI        MI
2                1538005             35380  TVC  Traverse City, MI        MI
3                1143302             31295  DTW        Detroit, MI        MI
4                1143302             31295  DTW        Detroit, MI        MI
...                  ...               ...  ...                ...       ...
313377           1129202             30325  DEN         Denver, CO        CO
313378           1161802             31703  EWR         Newark, NJ        NJ
313379           1161802             31703  EWR         Newark, NJ        NJ
313380           1226603             31453  IAH        Houston, TX        TX
313381           1393007             30977  ORD        Chicago, IL        IL

        DestStateFips DestStateName  DestWac  CRSDepTime  DepTime  DepDelay  \
0                  44  Rhode Island       15        1423   1412.0     -11.0
1                  26      Michigan       43        1650   1646.0      -4.0
2                  26      Michigan       43        1544   1539.0      -5.0
3                  26      Michigan       43        1759   1743.0     -16.0
4                  26      Michigan       43        1349   1344.0      -5.0
...               ...           ...      ...         ...      ...       ...
313377              8      Colorado       82        1645      NaN       NaN
313378             34    New Jersey       21        1700   1652.0      -8.0
313379             34    New Jersey       21         700    933.0     153.0
313380             48         Texas       74         730    720.0     -10.0
313381             17      Illinois       41         845    837.0      -8.0

        DepDelayMinutes  DepDel15  DepartureDelayGroups DepTimeBlk  TaxiOut  \
0                   0.0       0.0                  -1.0  1400-1459     16.0
1                   0.0       0.0                  -1.0  1600-1659     18.0
2                   0.0       0.0                  -1.0  1500-1559     12.0
3                   0.0       0.0                  -2.0  1700-1759     11.0
4                   0.0       0.0                  -1.0  1300-1359      7.0
...                 ...       ...                   ...        ...      ...
313377              NaN       NaN                   NaN  1600-1659      NaN
313378              0.0       0.0                  -1.0  1700-1759     13.0
313379            153.0       1.0                  10.0  0700-0759      8.0
313380              0.0       0.0                  -1.0  0700-0759     11.0
313381              0.0       0.0                  -1.0  0800-0859     10.0

        WheelsOff  WheelsOn  TaxiIn  CRSArrTime  ArrTime  ArrDelay  \
0          1428.0    1552.0     5.0        1615   1557.0     -18.0
1          1704.0    1846.0     7.0        1909   1853.0     -16.0
2          1551.0    1633.0     3.0        1658   1636.0     -22.0
3          1754.0    1829.0    10.0        1921   1839.0     -42.0
4          1351.0    1421.0     8.0        1454   1429.0     -25.0
...           ...       ...     ...         ...      ...       ...
313377        NaN       NaN     NaN        1840      NaN       NaN
313378     1705.0    1806.0     6.0        1847   1812.0     -35.0
313379      941.0    1036.0     4.0         828   1040.0     132.0
313380      731.0     823.0     8.0         848    831.0     -17.0
313381      847.0     923.0     7.0         957    930.0     -27.0

        ArrDelayMinutes  ArrDel15  ArrivalDelayGroups ArrTimeBlk  Cancelled  \
0                   0.0       0.0                -2.0  1600-1659        0.0
1                   0.0       0.0                -2.0  1900-1959        0.0
2                   0.0       0.0                -2.0  1600-1659        0.0
3                   0.0       0.0                -2.0  1900-1959        0.0
4                   0.0       0.0                -2.0  1400-1459        0.0
...                 ...       ...                 ...        ...        ...
313377              NaN       NaN                 NaN  1800-1859        1.0
313378              0.0       0.0                -2.0  1800-1859        0.0
313379            132.0       1.0                 8.0  0800-0859        0.0
313380              0.0       0.0                -2.0  0800-0859        0.0
313381              0.0       0.0                -2.0  0900-0959        0.0

       CancellationCode  Diverted  CRSElapsedTime  ActualElapsedTime  AirTime  \
0                   NaN       0.0           112.0              105.0     84.0
1                   NaN       0.0           139.0              127.0    102.0
2                   NaN       0.0            74.0               57.0     42.0
3                   NaN       0.0            82.0               56.0     35.0
4                   NaN       0.0            65.0               45.0     30.0
...                 ...       ...             ...                ...      ...
313377                D       0.0           235.0                NaN      NaN
313378              NaN       0.0           107.0               80.0     61.0
313379              NaN       0.0            88.0               67.0     55.0
313380              NaN       0.0            78.0               71.0     52.0
313381              NaN       0.0           132.0              113.0     96.0

        Flights  Distance  DistanceGroup  CarrierDelay  WeatherDelay  \
0           1.0     615.0              3           NaN           NaN
1           1.0     615.0              3           NaN           NaN
2           1.0     207.0              1           NaN           NaN
3           1.0     207.0              1           NaN           NaN
4           1.0     113.0              1           NaN           NaN
...         ...       ...            ...           ...           ...
313377      1.0    1337.0              6           NaN           NaN
313378      1.0     404.0              2           NaN           NaN
313379      1.0     282.0              2         132.0           0.0
313380      1.0     295.0              2           NaN           NaN
313381      1.0     612.0              3           NaN           NaN

        NASDelay  SecurityDelay  LateAircraftDelay  FirstDepTime  \
0            NaN            NaN                NaN           NaN
1            NaN            NaN                NaN           NaN
2            NaN            NaN                NaN           NaN
3            NaN            NaN                NaN           NaN
4            NaN            NaN                NaN           NaN
...          ...            ...                ...           ...
313377       NaN            NaN                NaN           NaN
313378       NaN            NaN                NaN           NaN
313379       0.0            0.0                0.0           NaN
313380       NaN            NaN                NaN           NaN
313381       NaN            NaN                NaN           NaN

        TotalAddGTime  LongestAddGTime  DivAirportLandings  DivReachedDest  \
0                 NaN              NaN                 0.0             NaN
1                 NaN              NaN                 0.0             NaN
2                 NaN              NaN                 0.0             NaN
3                 NaN              NaN                 0.0             NaN
4                 NaN              NaN                 0.0             NaN
...               ...              ...                 ...             ...
313377            NaN              NaN                 0.0             NaN
313378            NaN              NaN                 0.0             NaN
313379            NaN              NaN                 0.0             NaN
313380            NaN              NaN                 0.0             NaN
313381            NaN              NaN                 0.0             NaN

        DivActualElapsedTime  DivArrDelay  DivDistance Div1Airport  \
0                        NaN          NaN          NaN         NaN
1                        NaN          NaN          NaN         NaN
2                        NaN          NaN          NaN         NaN
3                        NaN          NaN          NaN         NaN
4                        NaN          NaN          NaN         NaN
...                      ...          ...          ...         ...
313377                   NaN          NaN          NaN         NaN
313378                   NaN          NaN          NaN         NaN
313379                   NaN          NaN          NaN         NaN
313380                   NaN          NaN          NaN         NaN
313381                   NaN          NaN          NaN         NaN

        Div1AirportID  Div1AirportSeqID  Div1WheelsOn  Div1TotalGTime  \
0                 NaN               NaN           NaN             NaN
1                 NaN               NaN           NaN             NaN
2                 NaN               NaN           NaN             NaN
3                 NaN               NaN           NaN             NaN
4                 NaN               NaN           NaN             NaN
...               ...               ...           ...             ...
313377            NaN               NaN           NaN             NaN
313378            NaN               NaN           NaN             NaN
313379            NaN               NaN           NaN             NaN
313380            NaN               NaN           NaN             NaN
313381            NaN               NaN           NaN             NaN

        Div1LongestGTime  Div1WheelsOff Div1TailNum Div2Airport  \
0                    NaN            NaN         NaN         NaN
1                    NaN            NaN         NaN         NaN
2                    NaN            NaN         NaN         NaN
3                    NaN            NaN         NaN         NaN
4                    NaN            NaN         NaN         NaN
...                  ...            ...         ...         ...
313377               NaN            NaN         NaN         NaN
313378               NaN            NaN         NaN         NaN
313379               NaN            NaN         NaN         NaN
313380               NaN            NaN         NaN         NaN
313381               NaN            NaN         NaN         NaN

        Div2AirportID  Div2AirportSeqID  Div2WheelsOn  Div2TotalGTime  \
0                 NaN               NaN           NaN             NaN
1                 NaN               NaN           NaN             NaN
2                 NaN               NaN           NaN             NaN
3                 NaN               NaN           NaN             NaN
4                 NaN               NaN           NaN             NaN
...               ...               ...           ...             ...
313377            NaN               NaN           NaN             NaN
313378            NaN               NaN           NaN             NaN
313379            NaN               NaN           NaN             NaN
313380            NaN               NaN           NaN             NaN
313381            NaN               NaN           NaN             NaN

        Div2LongestGTime  Div2WheelsOff Div2TailNum  Div3Airport  \
0                    NaN            NaN         NaN          NaN
1                    NaN            NaN         NaN          NaN
2                    NaN            NaN         NaN          NaN
3                    NaN            NaN         NaN          NaN
4                    NaN            NaN         NaN          NaN
...                  ...            ...         ...          ...
313377               NaN            NaN         NaN          NaN
313378               NaN            NaN         NaN          NaN
313379               NaN            NaN         NaN          NaN
313380               NaN            NaN         NaN          NaN
313381               NaN            NaN         NaN          NaN

        Div3AirportID  Div3AirportSeqID  Div3WheelsOn  Div3TotalGTime  \
0                 NaN               NaN           NaN             NaN
1                 NaN               NaN           NaN             NaN
2                 NaN               NaN           NaN             NaN
3                 NaN               NaN           NaN             NaN
4                 NaN               NaN           NaN             NaN
...               ...               ...           ...             ...
313377            NaN               NaN           NaN             NaN
313378            NaN               NaN           NaN             NaN
313379            NaN               NaN           NaN             NaN
313380            NaN               NaN           NaN             NaN
313381            NaN               NaN           NaN             NaN

        Div3LongestGTime  Div3WheelsOff  Div3TailNum  Div4Airport  \
0                    NaN            NaN          NaN          NaN
1                    NaN            NaN          NaN          NaN
2                    NaN            NaN          NaN          NaN
3                    NaN            NaN          NaN          NaN
4                    NaN            NaN          NaN          NaN
...                  ...            ...          ...          ...
313377               NaN            NaN          NaN          NaN
313378               NaN            NaN          NaN          NaN
313379               NaN            NaN          NaN          NaN
313380               NaN            NaN          NaN          NaN
313381               NaN            NaN          NaN          NaN

        Div4AirportID  Div4AirportSeqID  Div4WheelsOn  Div4TotalGTime  \
0                 NaN               NaN           NaN             NaN
1                 NaN               NaN           NaN             NaN
2                 NaN               NaN           NaN             NaN
3                 NaN               NaN           NaN             NaN
4                 NaN               NaN           NaN             NaN
...               ...               ...           ...             ...
313377            NaN               NaN           NaN             NaN
313378            NaN               NaN           NaN             NaN
313379            NaN               NaN           NaN             NaN
313380            NaN               NaN           NaN             NaN
313381            NaN               NaN           NaN             NaN

        Div4LongestGTime  Div4WheelsOff  Div4TailNum  Div5Airport  \
0                    NaN            NaN          NaN          NaN
1                    NaN            NaN          NaN          NaN
2                    NaN            NaN          NaN          NaN
3                    NaN            NaN          NaN          NaN
4                    NaN            NaN          NaN          NaN
...                  ...            ...          ...          ...
313377               NaN            NaN          NaN          NaN
313378               NaN            NaN          NaN          NaN
313379               NaN            NaN          NaN          NaN
313380               NaN            NaN          NaN          NaN
313381               NaN            NaN          NaN          NaN

        Div5AirportID  Div5AirportSeqID  Div5WheelsOn  Div5TotalGTime  \
0                 NaN               NaN           NaN             NaN

# Data Transformation

## Removing Duplicates

In [43]:
left

   data1 key
0    158   b
1    147   a
2    120   c
3    158   b
4    135   a
5    189   a
6    140   c
7    180   b

In [44]:
left.drop_duplicates(subset = ['key'], keep = 'last')

   data1 key
5    189   a
6    140   c
7    180   b

__Exercise__

How many individual airports are there?

In [16]:
pd.options.display.max_columns = None
flights.sample(5)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,Tail_Number,Flight_Number_Reporting_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,Origin,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,Dest,DestCityName,DestState,DestStateFips,DestStateName,DestWac,CRSDepTime,DepTime,DepDelay,DepDelayMinutes,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrTime,ArrDelay,ArrDelayMinutes,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,Cancelled,CancellationCode,Diverted,CRSElapsedTime,ActualElapsedTime,AirTime,Flights,Distance,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,FirstDepTime,TotalAddGTime,LongestAddGTime,DivAirportLandings,DivReachedDest,DivActualElapsedTime,DivArrDelay,DivDistance,Div1Airport,Div1AirportID,Div1AirportSeqID,Div1WheelsOn,Div1TotalGTime,Div1LongestGTime,Div1WheelsOff,Div1TailNum,Div2Airport,Div2AirportID,Div2AirportSeqID,Div2WheelsOn,Div2TotalGTime,Div2LongestGTime,Div2WheelsOff,Div2TailNum,Div3Airport,Div3AirportID,Div3AirportSeqID,Div3WheelsOn,Div3TotalGTime,Div3LongestGTime,Div3WheelsOff,Div3TailNum,Div4Airport,Div4AirportID,Div4AirportSeqID,Div4WheelsOn,Div4TotalGTime,Div4LongestGTime,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
418889,2020,1,3,17,2,2020-03-17,WN,19393,WN,N402WN,965,15304,1530402,33195,TPA,"Tampa, FL",FL,12,Florida,33,12391,1239103,31703,ISP,"Islip, NY",NY,36,New York,22,1050,1045.0,-5.0,0.0,0.0,-1.0,1000-1059,11.0,1056.0,1312.0,2.0,1330,1314.0,-16.0,0.0,0.0,-2.0,1300-1359,0.0,NaN,0.0,160.0,149.0,136.0,1.0,1034.0,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
555303,2020,1,3,27,5,2020-03-27,OO,20304,OO,N449SW,4230,13487,1348702,31650,MSP,"Minneapolis, MN",MN,27,Minnesota,63,12129,1212903,32129,HIB,"Hibbing, MN",MN,27,Minnesota,63,1115,1113.0,-2.0,0.0,0.0,-1.0,1100-1159,10.0,1123.0,1156.0,3.0,1220,1159.0,-21.0,0.0,0.0,-2.0,1200-1259,0.0,NaN,0.0,65.0,46.0,33.0,1.0,174.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148888,2020,2,4,12,7,2020-04-12,AA,19805,AA,NaN,2648,13303,1330303,32467,MIA,"Miami, FL",FL,12,Florida,33,11278,1127805,30852,DCA,"Washington, DC",VA,51,Virginia,38,2039,NaN,NaN,NaN,NaN,NaN,2000-2059,NaN,NaN,NaN,NaN,2312,NaN,NaN,NaN,NaN,NaN,2300-2359,1.0,D,0.0,153.0,NaN,NaN,1.0,919.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
419243,2020,1,3,18,3,2020-03-18,WN,19393,WN,N8677A,1157,10693,1069302,30693,BNA,"Nashville, TN",TN,47,Tennessee,54,11697,1169706,32467,FLL,"Fort Lauderdale, FL",FL,12,Florida,33,2025,2018.0,-7.0,0.0,0.0,-1.0,2000-2059,9.0,2027.0,2311.0,6.0,2335,2317.0,-18.0,0.0,0.0,-2.0,2300-2359,0.0,NaN,0.0,130.0,119.0,104.0,1.0,793.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186944,2020,1,3,15,7,2020-03-15,DL,19790,DL,N368NB,2631,10620,1062003,30620,BIL,"Billings, MT",MT,30,Montana,84,14869,1486903,34614,SLC,"Salt Lake City, UT",UT,49,Utah,87,1303,1254.0,-9.0,0.0,0.0,-1.0,1300-1359,34.0,1328.0,1429.0,4.0,1427,1433.0,6.0,6.0,0.0,0.0,1400-1459,0.0,NaN,0.0,84.0,99.0,61.0,1.0,387.0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
flights['Origin'].nunique()

353

In [24]:
flights.drop_duplicates(subset = 'Origin').shape

(353, 110)

How many routes (combinations of origin / destination)?

In [19]:
flights.drop_duplicates(subset = ['Origin', 'Dest']).shape

(5844, 110)

In [27]:
(flights['Origin'] + '-' + flights['Dest']).nunique()

5844

## Renaming axis indexes

In [49]:
left.index = list('abcdefgh')
left

   data1 key
a    158   b
b    147   a
c    120   c
d    158   b
e    135   a
f    189   a
g    140   c
h    180   b

In [50]:
left.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'], dtype='object')

## Discretization and binning

In [51]:
incognito = pd.cut(flights['Distance'], range(100, 2000, 500))
incognito

0          (600, 1100]
1          (600, 1100]
2           (100, 600]
3           (100, 600]
4           (100, 600]
              ...
313377    (1100, 1600]
313378      (100, 600]
313379      (100, 600]
313380      (100, 600]
313381     (600, 1100]
Name: Distance, Length: 961611, dtype: category
Categories (3, interval[int64]): [(100, 600] < (600, 1100] < (1100, 1600]]

In [53]:
incognito = pd.cut(flights['Distance'], 10)
incognito

0          (537.4, 1043.8]
1          (537.4, 1043.8]
2          (25.936, 537.4]
3          (25.936, 537.4]
4          (25.936, 537.4]
                ...
313377    (1043.8, 1550.2]
313378     (25.936, 537.4]
313379     (25.936, 537.4]
313380     (25.936, 537.4]
313381     (537.4, 1043.8]
Name: Distance, Length: 961611, dtype: category
Categories (10, interval[float64]): [(25.936, 537.4] < (537.4, 1043.8] < (1043.8, 1550.2] < (1550.2, 2056.6] ... (3069.4, 3575.8] < (3575.8, 4082.2] < (4082.2, 4588.6] < (4588.6, 5095.0]]

In [54]:
incognito.value_counts()

(25.936, 537.4]     390299
(537.4, 1043.8]     341401
(1043.8, 1550.2]    136322
(1550.2, 2056.6]     48376
(2056.6, 2563.0]     35064
(2563.0, 3069.4]      8898
(3575.8, 4082.2]       570
(3069.4, 3575.8]       249
(4082.2, 4588.6]       230
(4588.6, 5095.0]       202
Name: Distance, dtype: int64

In [55]:
ages = np.random.randint(0, 99, size = 25)
pd.cut(ages, [0, 2, 12, 19, 35, 65, 100]).value_counts()

(0, 2]        0
(2, 12]       0
(12, 19]      2
(19, 35]      3
(35, 65]      8
(65, 100]    12
dtype: int64

## String manipulation

### String object methods

In [57]:
animals = pd.Series('fairy goblin orc elf mamoth narwhal'.split())
animals

0      fairy
1     goblin
2        orc
3        elf
4     mamoth
5    narwhal
dtype: object

In [58]:
animals.str.len()

0    5
1    6
2    3
3    3
4    6
5    7
dtype: int64

In [59]:
animals.str.capitalize()

0      Fairy
1     Goblin
2        Orc
3        Elf
4     Mamoth
5    Narwhal
dtype: object

In [60]:
animals.str.upper()

0      FAIRY
1     GOBLIN
2        ORC
3        ELF
4     MAMOTH
5    NARWHAL
dtype: object

In [61]:
animals.str[0]

0    f
1    g
2    o
3    e
4    m
5    n
dtype: object

### Vectorized string functions in Pandas

There are two ways to store text data in Pandas:

- 1. object -dtype Numpy array
- 2. StringDtype extension type (this is the case)

The string attributes have the same names as the regular Python string functions, but work on Series of strings.

__Exercise__

Generate a list of the columns that have 'Origin' in their name

In [62]:
flights.columns[flights.columns.str.contains('Origin')]

Index(['OriginAirportID', 'OriginAirportSeqID', 'OriginCityMarketID', 'Origin',
       'OriginCityName', 'OriginState', 'OriginStateFips', 'OriginStateName',
       'OriginWac'],
      dtype='object')

In [64]:
flights[flights.columns[flights.columns.str.contains('Origin')]].sample(5)

,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,Origin,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac
145874,14107,1410702,30466,PHX,"Phoenix, AZ",AZ,4,Arizona,81
135514,13303,1330303,32467,MIA,"Miami, FL",FL,12,Florida,33
382472,10693,1069302,30693,BNA,"Nashville, TN",TN,47,Tennessee,54
451479,11298,1129806,30194,DFW,"Dallas/Fort Worth, TX",TX,48,Texas,74
164232,11618,1161802,31703,EWR,"Newark, NJ",NJ,34,New Jersey,21

If we filter the interesting columns we want

In [65]:
interesting_columns= ['FlightDate', 'DayOfWeek', 'Reporting_Airline', 'Tail_Number', 'Flight_Number_Reporting_Airline', 
                      'Origin', 'OriginCityName', 'OriginStateName', 'OriginCityMarketID',
                      'Dest', 'DestCityName', 'DestStateName', 'DestCityMarketID',
                      'DepTime', 'DepDelay', 'AirTime', 'Distance']

flights = flights[interesting_columns]

In [66]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 961611 entries, 0 to 313381
Data columns (total 17 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   FlightDate                       961611 non-null  object
 1   DayOfWeek                        961611 non-null  int64
 2   Reporting_Airline                961611 non-null  object
 3   Tail_Number                      822783 non-null  object
 4   Flight_Number_Reporting_Airline  961611 non-null  int64
 5   Origin                           961611 non-null  object
 6   OriginCityName                   961611 non-null  object
 7   OriginStateName                  961611 non-null  object
 8   OriginCityMarketID               961611 non-null  int64
 9   Dest                             961611 non-null  object
 10  DestCityName                     961611 non-null  object
 11  DestStateName                    961611 non-null  object
 12  DestCityMarketID                 961611 non-null  int64
 13  DepTime                          721658 non-null  float64
 14  DepDelay                         721656 non-null  float64
 15  AirTime                          720250 non-null  float64
 16  Distance                         961611 non-null  float64
dtypes: float64(4), int64(4), object(9)
memory usage: 132.1+ MB